openapi: 3.2.0
info:
  title: Bloq API
  version: '2026-09-29'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-29: 25 operation(s) read from 6 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Bloq has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 30
    documentation: -5
    pages-with-code: 6
    pages-read: 6
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-29'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/api-routes.md
  - https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/authentication.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/nodes-api.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/accounts-api.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/blockchain-node-api.md
  - https://docs.bloq.com/bloq-services/bloqstake/ethereum/api-routes.md
servers:
- url: https://api.bloq.com
security:
- bearer: []
tags:
- name: Bloq API
paths:
  /:
    get:
      operationId: get
      tags:
      - Bloq API
      summary: GET /
      x-source: https://docs.bloq.com/advanced-documentation/technical-reference/blockchain-node-api.md
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -k -X GET  --user <NodeUser>:<NodePass>  -H ''Content-Type: application/json''  https://<ip-address>:8080/status

          ```'
    post:
      operationId: post
      tags:
      - Bloq API
      summary: POST /
      x-source: https://docs.bloq.com/advanced-documentation/technical-reference/blockchain-node-api.md
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -k -X POST  --user <NodeUser>:<NodePass>  -H ''Content-Type: application/json''  -d ''{"jsonrpc": "1.0", "method": "getblock", "params": ["000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f", true] }''  https://<ip-address>:8332/

          ```'
components:
  schemas:
    PostResponse:
      type: object
      properties:
        hash:
          type: string
        confirmations:
          type: integer
        size:
          type: integer
        height:
          type: integer
        version:
          type: integer
        versionHex:
          type: string
        merkleroot:
          type: string
        tx:
          type: array
          items:
            type: string
        time:
          type: integer
        mediantime:
          type: integer
        nonce:
          type: integer
        bits:
          type: string
        difficulty:
          type: integer
        chainwork:
          type: string
        nTx:
          type: integer
        nextblockhash:
          type: string
    PostRequest:
      type: object
      properties:
        jsonrpc:
          type: string
        method:
          type: string
        params:
          type: array
          items:
            type: string
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
