openapi: 3.2.0
info:
  title: Bloq Auth API
  version: '2026-09-29'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-29: 25 operation(s) read from 6 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Bloq has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 30
    documentation: -5
    pages-with-code: 6
    pages-read: 6
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-29'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/api-routes.md
  - https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/authentication.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/nodes-api.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/accounts-api.md
  - https://docs.bloq.com/advanced-documentation/technical-reference/blockchain-node-api.md
  - https://docs.bloq.com/bloq-services/bloqstake/ethereum/api-routes.md
servers:
- url: https://api.bloq.com
security:
- bearer: []
tags:
- name: Auth
paths:
  /auth:
    post:
      operationId: post_auth
      tags:
      - Auth
      summary: POST /auth
      x-source: https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/api-routes.md
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAuthResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X POST https://api.bloq.com/auth  -H 'Content-Type: application/json'  -d '{\n    \"address\": \"0x0000000000000000000000000000000000000000\"\n    \"service\": \"stake\",\n    \"signature\": \"0x0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\",\n    \"signedAt: \"2022-07-11T18:23:22.513Z\"\n  }'\n```"
  /auth/token:
    post:
      operationId: post_auth_token
      tags:
      - Auth
      summary: POST /auth/token
      x-source: https://docs.bloq.com/advanced-documentation/technical-reference/accounts-api.md
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAuthTokenRequest'
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAuthTokenResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: "curl -X POST https://accounts.bloq.cloud/auth/token  -H 'Content-Type: application/json'  -d '{\n \"grantType\": \"clientCredentials\",\n \"clientId\": \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n \"clientSecret\": \"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"\n}'\n```"
  /auth/users/{publicaddress}:
    post:
      operationId: post_auth_users_publicaddress
      tags:
      - Auth
      summary: POST /auth/users/{publicAddress}
      x-source: https://docs.bloq.com/bloq-services/bloqstake/authenticate-to-bloq-api/authentication.md
      parameters:
      - name: publicaddress
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Success (shape read from the example response on the page)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostAuthUsersPublicaddressResponse'
      x-evidence:
        kind: code-example
        language: curl
        snippet: 'curl -X POST https://api.bloq.com/auth/users/<PUBLIC_ADDRESS>/nonce

          ```'
components:
  schemas:
    PostAuthUsersPublicaddressResponse:
      type: object
      properties:
        nonce:
          type: string
    PostAuthTokenRequest:
      type: object
      properties:
        grantType:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    PostAuthResponse:
      type: object
      properties:
        token:
          type: string
    PostAuthTokenResponse:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
